<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <!-- Google font typography settings - defined in _config.yml -->
  {% if site.resume_theme == 'default' %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href='https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,400;8..60,700&family=Inter:wght@300;400;600;700;800;900&display=swap' rel='stylesheet'>
  {% endif %}

  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
  <link rel="icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">
</head>
